@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* variables */
:root {
  --primary: #4f515a;
  --secondary: #ebebeb;
  --warning: #da0f41;
  --lines: #d5d5d5;
  --primeblue: #001e41;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Poppins';
  color: var(--primary);
}
body {
  background: #f9f9f9;
}
a {
  text-decoration: none;
}

/* buttons */
button, .btn { 
  background: var(--secondary);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover, .btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}



/* forms */
form {
  position:relative;
  top:200px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid  var(--secondary);
  background: white;
}
input, textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}



.home svg{
  height: 50px;
  width:50px;
  transition: fill 1s;
  cursor: pointer;
}

.home svg:hover {
  fill:grey;
}

.module-view {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width:540px;
  border-radius: 8px;
  border: 1px solid var(--lines);
}



.show-vid-details p {
  transition: all 1s;
}

.show-vid-details p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.show-vid-details svg{
  height: 30px;
  width:30px;
  transition: fill 1s;
  cursor: pointer;
  padding-left:10px;
}

.show-vid-details svg:hover {
  fill:grey;
}

.course-container, .module-container, .video-container{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.loading-bar {
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 18px;
  overflow: hidden;
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba( #000, .4),
    0 -1px 1px #fff, 0 1px 0 #fff;
}

  .percentage {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 18px;
    background-color: #a5df41;
    background: #001e41;
      /* Old browsers */
      background: -moz-linear-gradient( #a3ceff, #001e41);
      /* FF3.6-15 */
      background: -webkit-linear-gradient( #a3ceff, #001e41);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #a3ceff 10%, #001e41 90%);
  }